body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #191919;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  margin: 0;
  padding: 0;
  border: 0;
}
.nav {
  font-family: decker;
  z-index: 4;
  top: 0vw;
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(255, 143, 14, 0.5);
  display: inline-flex;
  align-items: center;
  transition: 1s;
}
.nav .menulist {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav .menulist a {
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.nav .menulist a:hover {
  border-bottom: 2px solid orange;
  transition: 0.1s;
}
.nav .menulist li {
  display: flex;
  align-items: center;
}
.nav .barmenu {
  display: none;
}
.nav button {
  margin-left: 5%;
  border-style: none;
  background: none;
}
.nav img {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
.nav .navsuper {
  position: fixed;
  display: none;
  height: 80px;
  width: 100%;
  background: #191919;
}
.container {
  width: 100%;
  margin-top: 80px;
}
.showmenulist {
  position: absolute;
  top: 62px;
  color: white;
  width: 100%;
  background: rgba(25, 25, 25, 0.8);
  display: flex;
  flex-direction: column;
  transition: all 1s;
}
.showmenulist a {
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.showmenulist a:hover {
  border-bottom: 2px solid orange;
  transition: 0.1s;
}
.showmenulist li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  transition: 1s;
}
.showmenulist li:hover {
  background: rgba(255, 165, 0, 0.6);
}
@media screen and (max-width: 800px) {
  .nav {
    background: none;
    transition: 1s;
  }
  .nav .menulist {
    position: absolute;
    top: -65vw;
    color: white;
    width: 100%;
    background: rgba(25, 25, 25, 0.8);
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: all 1s;
  }
  .nav .menulist a {
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  .nav .menulist a:hover {
    border-bottom: 2px solid orange;
    transition: 0.1s;
  }
  .nav .menulist li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
  }
  .nav .menulist li:hover {
    background: rgba(255, 165, 0, 0.6);
  }
  .nav .barmenu {
    display: block;
    z-index: 2;
  }
  .nav .navsuper {
    z-index: 1;
    display: block;
  }
}
.Body {
  background: #191919;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sectionIntro {
  background: #191919;
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sectionIntro .superpositionText {
  z-index: 1;
  font-family: 'Libre Baskerville', serif;
  color: white;
  height: 150px;
  width: 35%;
}
.sectionIntro .highlight {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: orange;
}
.sectionIntro p {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}
.sectionIntro .perfil {
  border-radius: 20%;
  z-index: 1;
  height: 95%;
  width: 30%;
  margin-bottom: -44px;
  background-size: 100% 100%;
  background-image: url('../images/perfilEscalaGrises2.png');
}
.sectionIntro .perfil .gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: -6px -6px 10px -1px rgba(0, 0, 0, 0.2), 6px 6px 10px -1px rgba(0, 0, 0, 0.2);
}
.sectionIntro .code {
  position: absolute;
  height: calc(100% - 165px);
  width: 65%;
  margin-left: 35%;
  background-size: 100% 100%;
  filter: blur(3px);
  background-image: url('../images/code.jpg');
}
.sectionIntro .code .filtro {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #191919, rgba(255, 255, 255, 0.1));
}
@media screen and (max-width: 1200px) and (max-height: 1400px) {
  .sectionIntro {
    height: 700px;
  }
  .sectionIntro .superpositionText .highlight {
    font-size: 35px;
  }
  .sectionIntro .perfil {
    height: 70%;
    width: 40%;
    margin-bottom: -208px;
  }
  .sectionIntro .code {
    height: calc(100% - 668px);
  }
}
@media screen and (max-width: 800px) {
  .sectionIntro {
    height: 700px;
  }
  .sectionIntro .superpositionText .highlight {
    font-size: 35px;
  }
  .sectionIntro .perfil {
    height: 70%;
    width: 40%;
    margin-bottom: -208px;
  }
  .sectionIntro .code {
    height: calc(100% - 326px);
  }
}
@media screen and (max-width: 560px) {
  .sectionIntro {
    height: 600px;
  }
  .sectionIntro .superpositionText {
    z-index: 2;
  }
  .sectionIntro .superpositionText .highlight {
    font-size: 20px;
  }
  .sectionIntro .perfil {
    position: absolute;
    height: 50%;
    width: 60%;
    margin-bottom: -167px;
  }
  .sectionIntro .code {
    height: calc(100% - 265px);
  }
}
@media screen and (max-width: 420px) {
  .sectionIntro .code {
    position: relative;
    height: calc(100%);
  }
  .sectionIntro .perfil {
    margin-top: 0;
    margin-bottom: 0;
    height: 600px;
    width: 70%;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position-y: 120px;
  }
  .sectionIntro .superpositionText {
    display: flex;
    flex-direction: column;
    margin-left: -45%;
    position: absolute;
    z-index: 2;
  }
}
.sectionAbout {
  background: #232526;
  background: -webkit-linear-gradient(to top, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #232526, #414345);
  height: 900px;
  width: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sectionAbout .imagenperfil {
  width: 25%;
  height: 60%;
  position: relative;
  margin-left: 4%;
}
.sectionAbout .imagenperfil .back {
  position: absolute;
  height: 88%;
  width: 78%;
  border: #ffa500 solid;
  border-width: 5px;
  z-index: 1;
}
.sectionAbout .imagenperfil .front {
  position: absolute;
  margin-left: 6%;
  margin-top: 5%;
  height: 90%;
  width: 80%;
  background-size: cover;
  background-image: url('../images/perfil.jpg');
  z-index: 2;
}
.sectionAbout .info {
  margin-right: 3%;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sectionAbout .info .iconos-about {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
.sectionAbout .info .iconos-about li {
  margin-right: 10px;
}
.sectionAbout .info .iconos-about img {
  width: 42px;
}
.sectionAbout .info .iconos-about .larger img {
  width: 65px;
}
.sectionAbout .info .left-part {
  width: 80%;
  height: 90%;
}
.sectionAbout .info .left-part h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: orange;
}
.sectionAbout .info .left-part p {
  color: #dbd9d9;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}
.sectionAbout .info button {
  background: orange;
  border-radius: 5px;
  border-style: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: 'League Spartan', sans-serif;
  height: 50px;
  width: 120px;
  cursor: pointer;
}
.sectionAbout .info button:hover {
  box-shadow: 0px 0px 18px -1px orange, 0px 0px 18px -1px orange;
}
@media screen and (max-width: 800px) {
  .sectionAbout {
    height: 1050px;
  }
  .sectionAbout .imagenperfil {
    width: 35%;
    height: 40%;
    position: relative;
    margin-left: 5%;
  }
  .sectionAbout .imagenperfil .back {
    position: absolute;
    height: 88%;
    width: 78%;
    border: orange solid;
    border-width: 5px;
    z-index: 1;
  }
  .sectionAbout .imagenperfil .front {
    position: absolute;
    margin-left: 6%;
    margin-top: 5%;
    height: 90%;
    width: 80%;
    background-size: 100% 100%;
    background-image: url('../images/perfil.jpg');
    z-index: 2;
  }
  .sectionAbout .info .left-part p {
    font-size: 13px;
  }
}
@media screen and (max-width: 560px) {
  .sectionAbout .imagenperfil {
    width: 45%;
    margin-left: 6%;
  }
  .sectionAbout .info .left-part p {
    font-size: 12px;
  }
  .sectionAbout .info .iconos-about {
    margin-left: -30px;
    display: flex;
    align-items: center;
    list-style: none;
  }
  .sectionAbout .info .iconos-about li {
    margin-right: 5px;
  }
  .sectionAbout .info .iconos-about img {
    width: 30px;
  }
  .sectionAbout .info .iconos-about .larger img {
    width: 40px;
  }
}
@media screen and (max-width: 420px) {
  .sectionAbout {
    height: 900px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .sectionAbout .imagenperfil {
    margin-left: 10%;
    height: 30%;
    width: 60%;
  }
  .sectionAbout .info {
    width: 70%;
    margin-left: 10%;
    margin-right: 0;
  }
  .sectionAbout .info .iconos-about {
    margin-left: -30px;
    display: flex;
    align-items: center;
    list-style: none;
  }
  .sectionAbout .info .iconos-about li {
    margin-right: 5px;
  }
  .sectionAbout .info .iconos-about img {
    width: 30px;
  }
  .sectionAbout .info .iconos-about .larger img {
    width: 40px;
  }
}
.sectionPortfolio {
  font-family: 'League Spartan', sans-serif;
  background: #191919;
  height: 800px;
  width: 100%;
  margin-left: 0%;
  margin-bottom: 10%;
}
.sectionPortfolio h1 {
  margin-left: 10%;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration-line: underline;
  text-decoration-color: orange;
}
.sectionPortfolio p {
  font-family: 'Libre Baskerville', serif;
  margin-left: 10%;
  margin-right: 40%;
  color: #dbd9d9;
  text-align: justify;
  font-size: 18px;
}
.sectionPortfolio .containerProyects {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
.sectionPortfolio .containerProyects .proyect {
  margin: 10px;
  border-radius: 10px;
  height: 50%;
  width: 40%;
}
.sectionPortfolio .containerProyects .proyect video {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 20px;
}
.sectionPortfolio .containerProyects .proyect .info {
  position: relative;
  margin-top: -53%;
  z-index: 2;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  display: flex;
  align-items: flex-end;
}
.sectionPortfolio .containerProyects .proyect .info h3 {
  margin-top: 0;
  margin-right: 10%;
  margin-left: 2%;
  color: white;
}
.sectionPortfolio .containerProyects .proyect .info p {
  margin-right: 2%;
  color: rgba(255, 255, 255, 0.822);
}
.sectionPortfolio .containerProyects .proyect .info a {
  text-decoration: none;
  color: white;
}
.sectionPortfolio .containerProyects .proyect .info img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .sectionPortfolio {
    height: 100%;
  }
  .sectionPortfolio .containerProyects {
    width: 80%;
  }
  .sectionPortfolio .containerProyects .proyect {
    height: 320px;
    width: 480px;
  }
  .sectionPortfolio .containerProyects .proyect .info {
    margin-top: -325px;
  }
  .sectionPortfolio p {
    font-size: 13px;
  }
}
.sectionContact {
  background: #232526;
  background: -webkit-linear-gradient(to top, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #232526, #414345);
  height: 800px;
  width: 100%;
  margin-left: 0%;
  margin-bottom: 10%;
}
.sectionContact h1 {
  margin-top: 5%;
  margin-right: 13%;
  text-align: right;
  font-family: 'League Spartan', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration-line: underline;
  text-decoration-color: orange;
}
.sectionContact .containerForm {
  margin-left: 10%;
  height: 60%;
  width: 80%;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  color: #dbd9d9;
}
.sectionContact .containerForm form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionContact .containerForm form label {
  font-size: 20px;
  margin-bottom: 1%;
}
.sectionContact .containerForm form input {
  font-family: 'League Spartan', sans-serif;
  color: #e09811;
  font-size: 20px;
  border: orange solid;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background: none;
  margin-bottom: 6%;
}
.sectionContact .containerForm form textarea {
  height: 80px;
  width: 80%;
  font-family: 'League Spartan', sans-serif;
  color: #e09811;
  font-size: 20px;
  border: orange solid;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background: none;
  margin-bottom: 5%;
}
.sectionContact .containerForm form button {
  height: 50px;
  width: 120px;
  font-size: 18px;
  font-family: 'League Spartan', sans-serif;
  color: white;
  background: orange;
  border-style: solid;
  border: orange solid;
  border-radius: 5px;
  cursor: pointer;
}
.sectionContact .containerForm form button:hover {
  box-shadow: 0px 0px 18px -1px orange, 0px 0px 18px -1px orange;
}
.sectionContact .containerForm form button:active {
  box-shadow: 0px 0px 5px -1px rgba(255, 165, 0, 0.2), 0px 0px 5px -1px rgba(255, 165, 0, 0.2);
}
.sectionContact .containerForm form button:disabled {
  background: rgba(253, 201, 103, 0.5);
  border: rgba(253, 201, 103, 0.5);
}
.sectionContact .containerForm form button:disabled:hover {
  box-shadow: 0px 0px 5px -1px rgba(253, 201, 103, 0), 0px 0px 5px -1px rgba(253, 201, 103, 0);
}
@media screen and (max-width: 420px) {
  .sectionContact {
    height: 600px;
  }
  .sectionContact .containerForm form input {
    font-size: 15px;
  }
  .sectionContact .containerForm form textarea {
    font-size: 15px;
  }
}
